<web-app>

<servlet>
<servlet-name>LoginDispatcher</servlet-name>
<servlet-class>LoginDispatcher</servlet-class>
</servlet>

<servlet-mapping>
<servlet-name>LoginDispatcher</servlet-name>
<url-pattern>/Login</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>RegisterDispatcher</servlet-name>
<servlet-class>RegisterDispatcher</servlet-class>
</servlet>

<servlet-mapping>
<servlet-name>RegisterDispatcher</servlet-name>
<url-pattern>/Register</url-pattern>
</servlet-mapping>

</web-app>
